.maisonItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.maisonItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

h1,
p {
  margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
  .maisonItem {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .maisonItem {
    grid-template-columns: 1fr;
  }
}
.ImageName {
  width: auto;
  height: 10rem;
  margin: 20px;
}
